<button class="close-panel" id="toMapBtn"><i class="fa fa-angle-double-left"></i></button>
<div class="panel panel-right panel-primary" id="panel-display">
  <div class="panel-head">
    Información de la huerta
  </div>
  <div class="panel-body">
    <div class="card card-icon">
      <label for="orchardName">Nombre de la Huerta</label>
      <p id="orchardName"></p>
    </div>
   <!--  <div class="card card-icon">c
      <label for="orchardDescription">Descripión</label>
      <p id="orchardDescription"></p>
    </div> -->
    <div class="card card-icon">
      <label for="orchardAttendant">Nombre del encargado</label>
      <p id="orchardAttendant"></p>
    </div>
    <div class="card card-icon">
      <label for="orchardPhone">Teléfono</label>
      <p id="orchardPhone"></p>
    </div>
    <div class="card card-icon">
      <label for="orchardEmail">Correo Electrónico</label>
      <p id="orchardEmail"></p>
    </div>
    <div class="card card-icon">
      <label for="orchardWeb">Sitio Web</label>
      <p id="orchardWeb"></p>
    </div>
    <div class="card card-icon">
      <label for="orchardFb">Facebook</label>
      <p>facebook.com/<span id="orchardFb"></span></p>
    </div>
    <div class="card card-icon">
      <label for="orchardSchedule">Horario</label>
      <p id="orchardSchedule"></p>
    </div>
    <div class="card card-icon">
      <label for="orchardCharacteristics">Características del proyecto</label>
      <p id="orchardCharacteristics"></p>
    </div>
    <div class="card card-icon">
      <label for="orchardCropTypology">Tipología de cultivo</label>
      <p id="orchardCropTypology"></p>
    </div>
     <div class="card card-icon">
      <label for="orchardSize">Tamaño</label>
      <p id="orchardSize"></p>
    </div>
    <div class="card card-icon">
      <label for="orchardCrops">Que cultivan?</label>
      <p id="orchardCrops"></p>
    </div>
    <div class="card card-icon">
      <label for="orchardSpecials">Productos especiales</label>
      <p id="orchardSpecials"></p>
    </div>
    <div class="card card-icon">
      <label for="orchardConcepts">Conceptos de cultivo</label>
      <p id="orchardConcepts"></p>
    </div>
    <div class="card card-icon">
      <label for="orchardSharing">Que comparten?</label>
      <p id="orchardSharing"></p>
    </div>
    <div class="card card-icon">
      <label for="orchardHelp">Necesitan colaboración con algo?</label>
      <p id="orchardHelp"></p>
    </div>
    <div class="card card-icon">
      <label for="orchardMarket">Comercializan o comparten productos?</label>
      <p id="orchardMarket"></p>
    </div>
  </div>
  <div class="panel-footer text-center"><i class="fa fa-chevron-down"></i></div>

</div>
