<div class="card card-anim card-anim-left no-padding bd-radius-md box-shadow-sm" id="login-card">
  <div class="card-head bg-muted">
    <i class="fa fa-home"></i>
  </div>
  <form class="padding-lg text-left" name="loginForm">
    <p class="text-primary text-center card-title">Ingresa</p>
    <div class="form-group">
      <label for="loginEmail">Email</label>
      <input type="email" class="form-control " name="loginEmail" value="" id="loginEmail" placeholder="Ej:yo@correo.com">
    </div>
    <div class="form-group">
      <label for="loginPassword">Password</label>
      <input type="password" class="form-control " name="loginPassword" value="" id="loginPassword" placeholder="Introduzca su clave">
    </div>
    <button class="btn btn-primary btn-block" id="loginBtn">Entrar</button>
  </form>

  <div class="card-detail text-center">
    <p>¿No tenés una cuenta aún?</p>
    <button class="btn btn-default" id="toRegisterBtn">Registrarme!</button>
  </div>

</div>
        



