	
<!-- Map Options -->
	<div class="options top-left">
		<span class="brand"><img src="./images/logo-pic-small.png" alt="">Huertos urbanos </span>
		<!-- <button class="btn-link" id="btn1">MapBox <i class="fa fa-road"></i></button>
		<button class="btn-link" id="btn2">OpenStreetMap <i class="fa fa-street-view"></i></button>
		<button class="btn-link" id="btn3"><span class="text-success">Mi localización <i class="fa fa-location-arrow"></i></span></button> -->
	</div>

<!-- Map Container -->
	<div class="full-screen" id="map"></div>

<!-- Side Panel -->
	<div class="modal" id="form-div"></div>

<!-- Confirmation Dialog -->
	<div id="dialog-container"></div>

