<div class="card card-anim card-anim-right no-padding bd-radius-md box-shadow-sm text-center" id="signup-card">
  <div class="card-head bg-muted">
    <i class="fa fa-home"></i>
  </div>
  <form class="padding-lg text-left">
    <p class="text-center text-primary card-title">Registrarse</p>
      <div class="form-group">
        <label for="registerUserName">Nombre de Usuario</label>
        <input type="email" class="form-control" id="registerUserName" placeholder="Ej: Lucia Lopez">
      </div>
      <div class="form-group">
        <label for="registerEmail">Email</label>
        <input type="email" class="form-control" id="registerEmail" placeholder="Ej:yo@correo.com">
      </div>
      <div class="form-group">
        <label for="registerPassword">Selecciona una Clave</label>
        <input type="password" class="form-control" id="registerPassword" placeholder="Tu clave">
      </div>
      <button class="btn btn-primary btn-block" id="registrationBtn">Registrarse</button>
  </form>
  <div class="card-detail text-center">
    <p>¿Ya tienes una cuenta?</p>
    <button class="btn btn-default" id="toLoginBtn">Iniciar Sesión</button>
  </div>
  
</div>